<header class="usa-header usa-header--basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
          <img src="{{ site.baseurl }}/assets/img/login-gov-logo.svg" class="usa-logo__img" alt="login.gov">
          <em class="usa-logo__text">Partners</em>
        </a>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav role="navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close"></button>
      {% assign primary_links = site.data.navigation.primary %}
      {% if primary_links %}
      <ul class="usa-nav__primary usa-accordion">
        {% for _link in primary_links %}
          {% assign _current = false %} 
          {% if _link.href == page.url or _link.href == page.permalink %}
            {% assign _current = true %}
          {% endif %}

          <!-- Primary nav item is also current if sidenav identifer matches nav URL -->
          {% if page.sidenav %}
            {% assign _href = _link.href | remove: "/" %}
            {% if _href == page.sidenav %}
              {% assign _current = true %}
            {% endif %}      
          {% endif %}
          <li class="usa-nav__primary-item">
            <a href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url}}{% endif %}"
              {% if _current %} class="usa-current" {% endif %} >
              <span>{{ _link.text }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </div>
</header>
