---
---

@import "sidenav";

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/publicsans-regular.woff2") format("woff2"),
       url("../fonts/publicsans-regular.woff") format("woff"),
       url("../fonts/publicsans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/publicsans-bold.woff2") format("woff2"),
       url("../fonts/publicsans-bold.woff") format("woff"),
       url("../fonts/publicsans-bold.ttf") format("truetype");
}

$sans-serif-font-family: "Public Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

h1, h2, p, .usa-intro, .usa-hero__heading, [class*="font-body-"],
.usa-prose > h1, .usa-prose > h2, .usa-prose>ul, .usa-display,
.usa-table, .usa-banner, .usa-nav .usa-accordion, .usa-banner .usa-accordion,
.usa-footer {
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif-font-family;
}

a, .usa-alert__text a:visited, .usa-alert__text a {
  color: #0071bb;
}

.usa-prose p {
  max-width: none;
  color: #1b1b1b;
}

p.usa-intro {
  color: #ffffff
}

.usa-hero__heading {
  font-size: 2.5em;
}

.usa-hero {
  @media (max-width: 1024px) {
    background-position: 95% 50%;
  }

  @media (min-width: 640px) {
    background-image: url(../img/illos/partners-hexahedron.svg);
  }

  background-position: calc(50% + 300px) 45%;
  background-size: 420px;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  padding-top: 3rem;

  .usa-hero__callout {
    margin-left: 0;
    width: 55%;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  p.usa-intro {
    font-size: 1.25em;
    font-weight: 400;
  }
}
